/* =================================
 Author Name : Ujjawal Kumar
 Date: 25-05-2022
 Version: 1.0
 =================================
*/

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&amp;display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000;
    line-height: 1.7;
    font-family: 'Sora', sans-serif;
    min-height: 100vh;
}
.header-menu {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.fixed-top {
	
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;

}
.header-menu .navbar {
	padding: 24px 33px 24px;
}
.navbar .navbar-brand {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
	text-transform: uppercase;
}
.navbar .navbar-nav .nav-link{
	color: #000;
}
.btn {
	color: #fff;
	background-color: #000;
	border: none;
	border-radius: 10px;
	text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}
.left-list .btn123{
	margin-left: 5px;
	padding: 10px 15px;
	font-weight: 300px;
}

@media only screen and (max-width: 567px) {
	.left-list {
		display: block !important;
	}
	.left-list .btn123 {
		margin-top: 10px;
        display: block !important;
	}
}

.footer {
    padding-top: 25px;
    border-top: 1px solid rgba(255, 200, 39, 0.1);
    position: relative;
}
.allowed-submit{opacity: .5;cursor: not-allowed;}
 .valid-input{
    border:1px solid green !important;
  }
  .invalid-input{
    border:1px solid red !important;
  }
  .invalid-msg{
    color: red;
  }

  #result {
    display: none;
  }